<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST">
  <%= auth_token_input %>

  <label>Email
    <input type="text" name="user[email]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Sign Up">

</form>