<h1>New Post</h1>

<form action="<%=  user_posts_url %>" method="POST">

  <%= auth_token_input %>

  Choose Circles:

    <% current_user.circles.each do |circle| %>


      <label>
        <input type="checkbox"
          name="post[circle_ids][]"
          value="<%= circle.id %>">
        <%= circle.name %>
        </input>
      </label>

    <% end %>

    <br>

    <label>Title
      <input type="text" name="post[title]" value="<%= @post.title %>">
    </label>
    <br>

    <label>Post:
      <br>
      <textarea name="post[body]"><%= @post.body %></textarea>
    </label>

    <br>
    <% @post.links.each_with_index do |link, i| %>
      <label>Link #<%= i + 1 %>
        <input type="text" name="links[<%= link.object_id %>][url]">
      <label>
    <% end %>

    <br>

    <input type="submit" value="Create Post">
</form>