<h1><%= @post.title %></h1>

  <p><%= @post.body %></p>
  <br>

  <ul>
    <% @post.links.each do |link| %>
      <li><%= link.url %></li>
    <% end %>
  </ul>

  <br>
  <p>Shared with:</p>
  <ul>
    <% @post.circles.each do |circle| %>
    <li>
      <a href="<%= circle_url(circle) %>"><%= circle.name %></a>
    </li>
    <% end %>
  </ul>



