<% action = @circle.persisted? ?
  circle_url(@circle) :
  user_circles_url(current_user) %>

<form action="<%= action %>" method="POST">

  <%= auth_token_input %>

  <% if @circle.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label>Circle Name
    <input type="text" name="circle[name]" value="<%= @circle.name %>">
  </label>

  <br>

  Users:
  <br>
    <input type="hidden" name="circle[member_ids][]" value="">
    <% User.all.each do |user| %>
      <label>
        <input
          type="checkbox"
          name="circle[member_ids][]"
          value="<%= user.id %>"
          <%= "checked" if @circle.members.include?(user) %>
          >
          <%= user.email %>
        </input>
      </label>

      <br>

    <% end %>

  <input type="submit"
      value="<%= @circle.persisted? ? "Edit" : "Create" %> Circle">

</form>