<h1><%= @circle.name %></h1>

<ul>
  <% @circle.members.each do |member| %>
  <li>
    <a href="<%= user_url(member) %>"><%= member.email %></a>
  </li>
  <% end %>
</ul>

<% if @circle.user == current_user %>
  <%= link_to "Edit Circle", edit_circle_url(@circle) %>
<% end %>