<!DOCTYPE html>
<html>
<head>
  <title>FriendCircle</title>
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= debug params %>
  <%= debug session[:token] %>
  <hr>
</header>

<nav>
  <ul>
    <li><%= link_to "Home", root_url %></li>
    <% if signed_in? %>
      <li><%= link_to "Create Circle", new_user_circle_url(current_user) %></li>
      <li><%= link_to "Create Post", new_user_post_url(current_user) %></li>
      <li><%= link_to "My Circles", user_circles_url(current_user) %></li>
      <li><%= link_to "My Posts", user_posts_url(current_user) %></li>
      <li><%= button_to "Logout", session_url, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_url %></li>
      <li><%= link_to "Sign In", new_session_url %></li>
    <% end %>
  </ul>
</nav>

<%= flash[:errors] if flash[:errors] %>
<%= yield %>

</body>
</html>
